<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs Front-end unit test cases and create code coverage report.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/SynapseLLC/97-Statbliss.git</url>
        <credentialsId>331ff661-09f2-4181-96d9-a86b5883e6fb</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/fin-dev-webapp</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>Node-Slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo npm install karma --save-dev
sudo npm install karma-jasmine karma-chrome-launcher karma-coverage jasmine-core karma-phantomjs-launcher --save-dev
sudo npm install karma-jenkins-reporter --save-dev
sudo npm install karma-threshold-reporter --save-dev
sudo npm install angular-mocks@1.6.7
sudo npm install -g karma-cli
sudo karma start unitTest/karma.conf.js</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>