<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is node.js Project</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/SynapseLLC/09-Chronicle.git</url>
        <credentialsId>331ff661-09f2-4181-96d9-a86b5883e6fb</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/chronical_2.0_web_api_dev</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CheckoutOption>
        <timeout>25</timeout>
      </hudson.plugins.git.extensions.impl.CheckoutOption>
    </extensions>
  </scm>
  <assignedNode>Node-Slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>npm config set dist-url https://nodejs.org/download/release/
npm cache clear --force
npm install -g npm@latest
npm install
npm install fibers@latest
npm install fcm-node
npm install wait.for
npm install supertest
npm install should
chmod 755 -R $WORKSPACE
npm test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>